# ─── Supabase ────────────────────────────────────────────────
VITE_SUPABASE_URL=https://tyvxbicniybssqpnucky.supabase.co  
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5dnhiaWNuaXlic3NxcG51Y2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDg4OTIsImV4cCI6MjA5MTA4NDg5Mn0.veIRmI_KUieoJi1GkUCNk1Sxh_LL4XyTEzd3tcSKRmQ

# ─── App ─────────────────────────────────────────────────────
VITE_APP_NAME=SEITRACK
VITE_APP_VERSION=0.1.0
